modules = ["python-3.12", "bash"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["cacert", "ffmpeg-full", "freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libyaml", "openjpeg", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
API_ID = "35411328"
API_HASH = "4c8d3c8f5d3483296f5fb530ea2cfcc6"
LOGGER_ID = "-1003774441740"
OWNER_ID = "8441236350"
OWNER_USERNAME = "mvtyy"
SUPPORT_CHANNEL = "https://t.me/+1NRRqUd1replNTM1"
SUPPORT_CHAT = "https://t.me/+Li5WLVyQTwNkOTQ1"
GITHUB = "https://t.me/YOUR_fucker_dad"
START_IMG_URL = "https://files.catbox.moe/s2k6fk.jpg"
PING_IMG_URL = "https://files.catbox.moe/0m7avf.jpg"
MONGO_DB_URI = "mongodb+srv://bsdk:betichod@cluster0.fgj1r9z.mongodb.net/?retryWrites=true&w=majority"
BOT_TOKEN = "8693231254:AAFmLowrMpefZiS9XT8vfG3vUVPvuRu8E-E"
STRING_SESSION = "BAIcVYAAo0EwsoD20I9q_mMz1WkS950BeWAscX9ZRvHKdZVT85YYB-65-V2A3AOlvSjMTJ0AOHUoetXdHtLetW9T2AwukidPJyJyBINrWtFqoW9559iUVF55PfDjpPyFYFX2EI6Au5umqGU_gDn_Dg9yGmjYIdOkLbPXrhswnH1-UZ3CigloxMosDnhzY8wg5qks0_48oQKCD7LstpCzjULDdwPks358wXjtzIafQXYX5g278N3GK6ZfvMmxIq8IClcjhdGDl0GUaPTA0z-2uLGzsaSl9_gnQu7aP-qz_NtYZXj12fye_AcVi6seIN_7gIgRmVyU4m4O4RL0A0klJUycGqHRMQAAAAH3Iwt-AA"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m MadaraMusic"

[deployment]
deploymentTarget = "vm"
run = ["python3", "-m", "PritiMusic"]
